@import "tailwindcss";

@theme {
  --color-primary: #0a0a0a;
  --color-secondary: #1a1a1a;
  --color-accent: #ef4444;
  --color-accent-hover: #dc2626;

  --font-sans: "Inter", "system-ui", "sans-serif";
}

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-primary text-zinc-300 antialiased;
  }

  ::selection {
    @apply bg-accent/20 text-white;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  @apply bg-primary;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-zinc-800 border border-zinc-700 rounded-full;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  @apply bg-zinc-700;
}
